.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s linear 0s;
}
.footer__column-link:hover {
  opacity: 0.5;
}