.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}


.logo {
  width: 183px;
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-position: center;
  background-size: cover;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}
.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 4;
}
.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  margin: 0 0 0 64px;
  z-index: 3;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 3;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  display: flex;
  padding: 100px 0;
  justify-content: center;
}
.two-columns {
  width: 80%;
  display: flex;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
}
/*Правила для текста*/
.two-columns__brief {
  margin: 0px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__paragraph {
  margin: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  margin: 30px auto;
}


                                    /* блок Digits*/
.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  margin: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.section-subtitle {
  margin: 20px 0 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table {
  margin:0 auto;
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  margin-top: 60px;
  width: 250px;
  display:flex;
  flex-direction: column;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

/*Блок Фейнман*/
.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: bottom left;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.feynman__title {
  text-align: center;
  margin: 100px 0 0;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle {
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

/*Блок Принципы обучения*/
.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: -2;
}
.section-title_theme_dark {
  color:white;
}
.section-subtitle_theme_dark {
  color:white;
}
.table_theme_dark {
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table__heading_theme_dark {
  color:white;
}
.table__text_theme_dark {
  color:white;
}
.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  right: -210px;
  top: -40px;
  z-index: -1;
}
                      /*FOOTER*/
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
}
.footer__columns {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__column {
  display: flex;
  flex-direction: column;
}
.footer__column_content_copyright {
  flex-basis: 711px;
 justify-content: space-between;
}
.logo_place_footer {
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}
.footer__autor {
  color: white;
  margin: 18px auto 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column_content_info {}
 
.footer__column-heading {
  color: white;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right:10px;
}